extends layout

block content
  h3 User Details
  .w3-container.w3-card-4.w3-padding-32.w3-margin-top
    table.w3-table.w3-bordered.w3-striped
      tr
        th Name
        td #{user.firstName} #{user.lastName}
      
      tr
        th Date of Birth
        td #{user.dateOfBirth.toDateString()}
      
      tr
        th Address Line 1
        td #{user.address1}
      
      tr
        th Address Line 2
        td #{user.address2 || 'N/A'}
      
      tr
        th City
        td #{user.city}
      
      tr
        th Postal Code
        td #{user.postalCode}
      
      tr
        th Country
        td #{user.country}
      
      tr
        th Phone Number
        td #{user.phoneNumber}
      
      tr
        th Email
        td #{user.email}
      
      tr
        th Notes
        td #{user.notes || 'No notes provided'}

    a.w3-button.w3-blue.w3-block.w3-margin-top(href="/") Back to User List
